/*/*//*font-family: 'Ubuntu', sans-serif;*/


.navbar-brand{
font-family: 'Ubuntu', sans-serif;
font-size: 2em;
font-weight: bold;

}

.font{

	font-family: 'Ubuntu', sans-serif;
}



.img-width{
width: 100%;
height: 40vh;

}

.cust-padding{
  padding: 8rem;
}

.row-padding{
  padding: 4rem;
}

.courses-padding{
  padding: 6rem;
}

.item{
  padding: 3rem;
}




.Team-row-height
{

height: 8vh;


}







.navbar #Menu .custom-nav .nav-item a {

color:white;

}

.navbar #Menu .custom-nav .nav-item a:hover {

color:orange;

}



.banner{

background-size: cover;
background-position: center center;
background-repeat: no-repeat;
min-height: 90vh;
border-radius: 0px;
margin-top: 74px
}


